@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* CONFIGURAÇÃO PARA TIRAR VALORES PADRAO*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 30px;
}

/* CONFIGURAÇÃO PARA TIRAR VALORES PADRAO*/

body, input, button {
  font-family: Roboto, sans-serif;
  
}


a {
  
    display: contents;
    text-decoration: none;
    text-decoration-style: none;
    color: inherit;
}

a:hover {
    color: #75d;
    transition: 0.3s;
}

li {
    list-style-type: none;
    margin: 5px 10px;
    padding: 10px 20px;
    display: inline-block;
}

