
.container{
    text-align: center;
    padding-left:25%;
    padding-right:25%;
    min-width: 400px;
}

.title {
    font-size: 1.5em;
    color: #75d;
}

.about {
    font-size: 1em;
    color: #575757;
}

.avatar {
    border-radius:50%;
}